*{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
   
}

.Header div img{
    height: 60px;
    width: 60px;
}

.Content img{
    height: 500px;
    width: 500px;
}
.Footer div img{
    height: 20px;
    width: 22px;
}