@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
     height: auto;
    width: auto; 
   }
 
   .Header{
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     box-sizing: border-box;
 }

.Header img{
    height: 60px;
    width: 60px;

}
.Header a {
    margin-left: auto;
    text-decoration: none;
    color: #333; /* Example text color */
    font-weight: bold;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}


.img1 {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-size: cover; 
    background-position: center; 
    height: 380px; 
   position: relative;
   background-repeat: no-repeat;
}

.img1 input {
    position: absolute; 
    top: 0;
    left: 0; 
    background-color: #f1f1f1;
    border: 1px transparent;
    align-items: center;
    width: 400px;
    margin-top: 185px;
    height: 20px;
    border-radius: 12px;
    margin-left: 35%;
    padding: 10px;
}
.cities{
    margin-left: 15%;
    margin-right: 15%;
   
}
.Content div img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    padding: 4%;
   
}

.Content .vmore{
   text-align: center;
   
}
.Content .vmore a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #333;
}

.Footer div img{
    height: 20px;
    width: 22px;
    
}

.Footer div{
    display: flex;
    align-items: center;
    
}


