*{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
   
}
.Header{
    background-color: rosybrown;
}

.Header div img{
    height: 60px;
    width: 60px;
}
.Content{
   line-height: 2.2rem;
}

#list_view div{
    background-color: rgb(132,136,139);
    width: 40%;
     /* margin-top: 25px; */
     margin: 2%;
     /* margin-right: 65%;  */
    line-height: 2.2rem;
}
#list_view img{
    height: 250px;
    width: 250px;
}

.Footer div img{
    height: 20px;
    width: 22px;
}