.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-width: 12px;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    margin: auto;
  margin-top: 20%;
   
  }
  